/* Version 1.5 */
/* Generic Spacing */
.ptn .pvn .pan {
  padding-top: 0 !important; }

.pbn .pvn .pan {
  padding-bottom: 0 !important; }

.pln .phn .pan {
  padding-left: 0 !important; }

.prn .phn .pan {
  padding-right: 0 !important; }

.pts .pvs .pas {
  padding-top: 5px !important; }

.pbs .pvs .pas {
  padding-bottom: 5px !important; }

.pls .phs .pas {
  padding-left: 5px !important; }

.prs .phs .pas {
  padding-right: 5px !important; }

.ptm .pvm .pam {
  padding-top: 10px !important; }

.pbm .pvm .pam {
  padding-bottom: 10px !important; }

.plm .phm .pam {
  padding-left: 10px !important; }

.prm .phm .pam {
  padding-right: 10px !important; }

.ptl .pvl .pal {
  padding-top: 15px !important; }

.pbl .pvl .pal {
  padding-bottom: 15px !important; }

.pll .phl .pal {
  padding-left: 15px !important; }

.prl .phl .pal {
  padding-right: 15px !important; }

.ptxl .pvxl .paxl {
  padding-top: 20px !important; }

.pbxl .pvxl .paxl {
  padding-bottom: 20px !important; }

.plxl .phxl .paxl {
  padding-left: 20px !important; }

.prxl .phxl .paxl {
  padding-right: 20px !important; }

/* Grid */
.row:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.row {
  width: 100%; }
  .row [class*="cell"] {
    float: left;
    display: block; }
  .row .cell-1 {
    width: 8.33333333333333%; }
  .row .cell-2 {
    width: 16.66666666666670%; }
  .row .cell-3 {
    width: 25.00000000000000%; }
  .row .cell-4 {
    width: 33.33333333333330%; }
  .row .cell-5 {
    width: 41.66666666666670%; }
  .row .cell-6 {
    width: 50.00000000000000%; }
  .row .cell-7 {
    width: 58.33333333333330%; }
  .row .cell-8 {
    width: 66.66666666666670%; }
  .row .cell-9 {
    width: 75.00000000000000%; }
  .row .cell-10 {
    width: 83.33333333333330%; }
  .row .cell-11 {
    width: 91.66666666666670%; }
  .row .cell-12 {
    width: 100.00000000000000%; }
