/* Grid Container */
.jbgrid-container {
    margin: 0 auto;
}

/* NOT YET RESPONSIVE */
@media (min-width: 1200px) {
    .jbgrid-container {
        max-width: 90%;
    }
}

.jbgrid-container .row {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    float: left;
}

.jbgrid-container .row-no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.jbgrid-container .row [class*="cell"] {
    float: left;
    margin: 0 1% 0 0;
    display: block;
}

.jbgrid-container .row .cell-1 {
    width: 7.41666666666667%;
}

.jbgrid-container .row .cell-2 {
    width: 15.83333333333330%;
}

.jbgrid-container .row .cell-3 {
    width: 24.25000000000000%;
}

.jbgrid-container .row .cell-4 {
    width: 32.66666666666670%;
}

.jbgrid-container .row .cell-5 {
    width: 41.08333333333330%;
}

.jbgrid-container .row .cell-6 {
    width: 49.50000000000000%;
}

.jbgrid-container .row .cell-7 {
    width: 57.91666666666670%;
}

.jbgrid-container .row .cell-8 {
    width: 66.33333333333330%;
}

.jbgrid-container .row .cell-9 {
    width: 74.75000000000000%;
}

.jbgrid-container .row .cell-10 {
    width: 83.16666666666670%;
}

.jbgrid-container .row .cell-11 {
    width: 91.58333333333330%;
}

.jbgrid-container .row .cell-12 {
    width: 100.00000000000000%;
}

.jbgrid-container .row [class*="cell"]:last-child {
    margin: 0;
}

.jbgrid-container:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}