/* Grid */
.row:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.row {
  width: 100%;

  [class*="cell"] {
    float: left;
    display: block;
  }

  .cell-1 {
    width: 8.33333333333333%;
  }

  .cell-2 {
    width: 16.66666666666670%;
  }

  .cell-3 {
    width: 25.00000000000000%;
  }

  .cell-4 {
    width: 33.33333333333330%;
  }

  .cell-5 {
    width: 41.66666666666670%;
  }

  .cell-6 {
    width: 50.00000000000000%;
  }

  .cell-7 {
    width: 58.33333333333330%;
  }

  .cell-8 {
    width: 66.66666666666670%;
  }

  .cell-9 {
    width: 75.00000000000000%;
  }

  .cell-10 {
    width: 83.33333333333330%;
  }

  .cell-11 {
    width: 91.66666666666670%;
  }

  .cell-12 {
    width: 100.00000000000000%;
  }
}

