/* Generic Spacing */
$size-names-list: n s m l xl;
$size-values-list: 0 5px 10px 15px 20px;

@for $i from 1 through length($size-names-list) {
  $size: nth($size-names-list, $i);
  $value: nth($size-values-list, $i);
  .pt#{$size} .pv#{$size} .pa#{$size} { padding-top: $value !important; }
  .pb#{$size} .pv#{$size} .pa#{$size} { padding-bottom: $value !important; }
  .pl#{$size} .ph#{$size} .pa#{$size} { padding-left: $value !important; }
  .pr#{$size} .ph#{$size} .pa#{$size} { padding-right: $value !important; }
}
