/*PANEL*/
.panel {
    background: none repeat scroll 0 0 #8b9bc6;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: normal;
}

.panel > .panel-header {
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color: #8b9bc6;
    cursor: default;
}


.panel-header-type1 {
    color: #801255;
}

.panel-header-type2 {
    color: #9a9a9a;
}

.panel > .panel-body {
    color: #252525;
    background-color: whitesmoke;
    padding: 5px 10px;
}

.panel > .panel-footer {
    /*padding-top: 10px;*/
}

.panel-header-close {
    float: right;
    padding-right: 5px;
    cursor: pointer;
}

.panel-header-close:hover {
    color: wheat;
}

.panel-header-close:active {
    color: wheat;
    padding-right: 4px;
    padding-top: 1px;
}

.panel-square {
    background: none repeat scroll 0 0 #8b9bc6;
    padding-bottom: 10px;
    font-style: normal;
}

.panel-square > .panel-header {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #8b9bc6;
    cursor: default;
    text-align: center;
}

.panel-square > .panel-header > input {
    border: 0;
    padding: 1px 5px;
    cursor: default;
    background-color: #f0eca7;
}

.panel-square > .panel-body {
    color: #252525;
    background-color: whitesmoke;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* Bar */
.panel-square > .panel-body > .elem {
    padding: 1px 5px;
}

.panel-square-ghost {
    background: none repeat scroll 0 0 rgba(139, 155, 198, 0.25);
    padding-bottom: 10px;
    font-style: normal;
    border: dotted 5px rgba(128, 128, 128, 0.25);
}

.panel-square-ghost > .panel-header {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgba(139, 155, 198, 0.25);
    text-align: center;
}

.panel-square-ghost > .panel-body {
    color: rgba(37, 37, 37, 0.25);
    background-color: whitesmoke;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* HELPERS */
.clickable {
    cursor: pointer;
}

.clickable:hover {
    cursor: pointer;
    opacity: 0.8;
}
