.button {
    width: 80px;
    height: 22px;
    border-radius: 2px;
    background-color: #419ddb;
    cursor: pointer;
}

.button:hover {
    width: 80px;
    height: 22px;
    border-radius: 2px;
    background-color: #65c4ff;
}

button:active {
    width: 80px;
    height: 22px;
    border-radius: 2px;
    background-color: #65c4ff;
}

.button > .label {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #FFF;
    height: 100%;
    text-align: center;
    line-height: 22px;
}

.button:active > .label {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    color: #FFF;
    height: 100%;
    text-align: center;
    line-height: 22px;
}

.button_small {
    width: 80px;
    height: 20px;
    border-radius: 1px;
    background-color: #db0128;
    cursor: pointer;
}

.button_small:hover {
    width: 80px;
    height: 20px;
    border-radius: 2px;
    background-color: #65c4ff;
}

.button_small:active {
    width: 80px;
    height: 20px;
    border-radius: 2px;
    background-color: #65c4ff;
}

.button_small > .label {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #FFF;
    height: 100%;
    text-align: center;
    line-height: 20px;
    width: 100%;
}

.button_small:active > .label {
    font-weight: bolder;
}

.button_small:hover > .label {
    /*font-weight: bolder;*/
}

.button_gray {
    background-color: #cecece;
}

.button_gray:hover {
    background-color: #aaaaaa;
}

.button_gray > .label {
    color: #181818;
}